# Dependency directory
node_modules

*.swp
*.txt

.env
.zos.session

# We commit the build dir on purpose, because the rest of our stack pulls this repo in from npm and gets the abis from them
# build
